services:
  app:
    build:
      context: ..
      dockerfile: infra/docker/php/Dockerfile
    volumes:
      - ../apps/backend:/var/www/html
    depends_on:
      - db

  web:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ../apps/backend:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: cronwatch
      POSTGRES_USER: cronwatch
      POSTGRES_PASSWORD: secret
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    ports:
      - "8081:8080"
    depends_on:
      - db

volumes:
  pgdata:
