services:
  app:
    build:
      context: ../../../apps/backend
      dockerfile: ../../infra/docker/dev/Dockerfile
    volumes:
      - ../../../apps/backend:/var/www/html
    environment:
      APP_ENV: local
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ../../../apps/backend:/var/www/html
      - ../../nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: cronwatch
      POSTGRES_USER: cronwatch
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    ports:
      - "8081:8080"
